# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Jupyter
.ipynb_checkpoints/
.jupyter/

# IDEs
.vscode/
.idea/

# Virtual Environments
.env
.venv/
venv/

# Logs
*.log

# SQLite (se usar banco local nos testes)
*.db
*.sqlite3

# Ignora todos os CSVs
*.csv

# Mas não ignora os CSVs dentro de dia02
!dia02/*.csv